@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Howdy, Partner.</h1>
    <a  asp-controller="Home" asp-action="UserForm">Click here to Register a New User!</a>
</div>
